@charset "utf-8";
/* reset
-------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	-webkit-text-size-adjust: 100%;
}


h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
table {
	font-size: 100%;
	line-height: 1.5;
	border-collapse: collapse;
	border-spacing: 0;
}
th {
	font-weight: normal;
	text-align: left;
}
img {
	border: 0;
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
}
ul li {
	list-style: none;
}
ol {
}
input, textarea {
	vertical-align: middle;
}
address, em {
	font-style: normal;
}


/* link
-------------------------------------------------------------------*/
a:link, a:visited, a:hover {
	color: #333;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}


/*　マウスホバーで透過　*/
a:hover {
	text-decoration: none !important;
	opacity: 0.7;
}
a:hover img, a:hover p {
	text-decoration: none !important;
	opacity: 0.7;
}


/*　マウスホバーでも透過しない　*/
.op1 {
	opacity: 1.0 !important;
}
.op1 * {
	opacity: 1.0 !important;
}


/* common class
-------------------------------------------------------------------*/
/* noSetting */
.left_area {
}
.center_area {
}
.right_area {
}
.bg_top {
}
.bg_mdl {
}
.bg_btm {
}
.first {
}
.last {
}
.left {
	float: left;
}
.right {
	float: right;
}
.w165 a {
	width: 165px !important;
}
/* position */
.position,.relative {
	position: relative;
}
.vam{vertical-align: middle;}

/* float */
.flt_left {
	float: left;
}
.flt_right {
	float: right;
}
.flt_none {
	float: none !important;
}
/* width */
.w_auto {
	width: auto !important;
}
.w_max {
	width: 100% !important;
}
.w_half {
	width: 50% !important;
}
.w_third {
	width: 33% !important;
}
.w_quarter {
	width: 25% !important;
}
.w_fifth {
	width: 20% !important;
}

.m_auto {
	margin: 0 auto;
}


/* margin:top */
.mt00 {
	margin-top: 0px !important;
}
.mt05 {
	margin-top: 5px !important;
}
.mt10 {
	margin-top: 10px !important;
}
.mt15 {
	margin-top: 15px !important;
}
.mt20 {
	margin-top: 20px !important;
}
.mt25 {
	margin-top: 25px !important;
}
.mt30 {
	margin-top: 30px !important;
}
.mt35 {
	margin-top: 35px !important;
}
.mt40 {
	margin-top: 40px !important;
}
.mt45 {
	margin-top: 45px !important;
}
.mt50 {
	margin-top: 50px !important;
}
.mt55 {
	margin-top: 55px !important;
}
.mt60 {
	margin-top: 60px !important;
}
.mt65 {
	margin-top: 65px !important;
}
.mt70 {
	margin-top: 70px !important;
}
.mt75 {
	margin-top: 75px !important;
}
.mt80 {
	margin-top: 80px !important;
}
.mt85 {
	margin-top: 85px !important;
}
.mt90 {
	margin-top: 90px !important;
}
.mt95 {
	margin-top: 95px !important;
}
.mt100 {
	margin-top: 100px !important;
}
/* margin:right */
.mr00 {
	margin-right: 0px !important;
}
.mr05 {
	margin-right: 5px !important;
}
.mr10 {
	margin-right: 10px !important;
}
.mr15 {
	margin-right: 15px !important;
}
.mr20 {
	margin-right: 20px !important;
}
.mr25 {
	margin-right: 25px !important;
}
.mr30 {
	margin-right: 30px !important;
}
.mr35 {
	margin-right: 35px !important;
}
.mr40 {
	margin-right: 40px !important;
}
.mr45 {
	margin-right: 45px !important;
}
.mr50 {
	margin-right: 50px !important;
}
.mr55 {
	margin-right: 55px !important;
}
.mr60 {
	margin-right: 60px !important;
}
.mr65 {
	margin-right: 65px !important;
}
.mr70 {
	margin-right: 70px !important;
}
.mr75 {
	margin-right: 75px !important;
}
.mr80 {
	margin-right: 80px !important;
}
.mr85 {
	margin-right: 85px !important;
}
.mr90 {
	margin-right: 90px !important;
}
.mr95 {
	margin-right: 95px !important;
}
.mr100 {
	margin-right: 100px !important;
}
/* margin:bottom */
.mb00 {
	margin-bottom: 0 !important;
}
.mb05 {
	margin-bottom: 5px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}
.mb15 {
	margin-bottom: 15px !important;
}
.mb20 {
	margin-bottom: 20px !important;
}

@media screen and (max-width : 760px ) {
.mb20 {
	margin-bottom: 15px !important;
}
}
.mb25 {
	margin-bottom: 25px !important;
}
.mb30 {
	margin-bottom: 30px !important;
}

@media screen and (max-width : 760px ) {
.mb30 {
	margin-bottom: 20px !important;
}
}
.mb35 {
	margin-bottom: 35px !important;
}
.mb40 {
	margin-bottom: 40px !important;
}

@media screen and (max-width : 760px ) {
.mb40 {
	margin-bottom: 30px !important;
}
}
.mb45 {
	margin-bottom: 45px !important;
}
.mb50 {
	margin-bottom: 50px !important;
}
@media screen and (max-width : 760px ) {
.mb50 {
	margin-bottom: 25px !important;
}
}
.mb55 {
	margin-bottom: 55px !important;
}
.mb60 {
	margin-bottom: 60px !important;
}

@media screen and (max-width : 760px ) {
.mb60 {
	margin-bottom: 40px !important;
}
}
.mb65 {
	margin-bottom: 65px !important;
}
.mb70 {
	margin-bottom: 70px !important;
}
.mb75 {
	margin-bottom: 75px !important;
}
.mb80 {
	margin-bottom: 80px !important;
}
@media screen and (max-width : 760px ) {
.mb80 {
	margin-bottom: 40px !important;
}

}
.mb85 {
	margin-bottom: 85px !important;
}
.mb90 {
	margin-bottom: 90px !important;
}
.mb95 {
	margin-bottom: 95px !important;
}
.mb100 {
	margin-bottom: 100px !important;
}
@media screen and (max-width : 760px ) {
.mb100 {
	margin-bottom: 40px !important;
}
}

.sp_mb10{}
@media screen and (max-width : 767px ) {
.sp_mb10{
	margin-bottom: 10px !important;
	}
}

.sp_mb15 {
}

@media screen and (max-width : 767px ) {
.sp_mb15 {
	margin-bottom: 15px!important;
}
}

.sp_mb20{}
@media screen and (max-width : 767px ) {
.sp_mb20{
	margin-bottom: 20px !important;
	}
}

.sp_mb30{}
@media screen and (max-width : 767px ) {
.sp_mb30{
	margin-bottom: 30px !important;
	}
}

.sp_mb40{}
@media screen and (max-width : 767px ) {
.sp_mb40{
	margin-bottom: 40px !important;
	}
}


.sp_mb50{}
@media screen and (max-width : 767px ) {
.sp_mb50{
	margin-bottom: 50px !important;
	}
}








/* margin:left */
.ml00 {
	margin-left: 0px !important;
}
.ml05 {
	margin-left: 5px !important;
}
.ml10 {
	margin-left: 10px !important;
}
.ml15 {
	margin-left: 15px !important;
}
.ml20 {
	margin-left: 20px !important;
}
.ml25 {
	margin-left: 25px !important;
}
.ml30 {
	margin-left: 30px !important;
}
.ml35 {
	margin-left: 35px !important;
}
.ml40 {
	margin-left: 40px !important;
}
.ml45 {
	margin-left: 45px !important;
}
.ml50 {
	margin-left: 50px !important;
}
.ml55 {
	margin-left: 55px !important;
}
.ml60 {
	margin-left: 60px !important;
}
.ml65 {
	margin-left: 65px !important;
}
.ml70 {
	margin-left: 70px !important;
}
.ml75 {
	margin-left: 75px !important;
}
.ml80 {
	margin-left: 80px !important;
}
.ml85 {
	margin-left: 85px !important;
}
.ml90 {
	margin-left: 90px !important;
}
.ml95 {
	margin-left: 95px !important;
}
.ml100 {
	margin-left: 100px !important;
}
/* padding:top */

.p10{padding: 10px;}
.p15{padding: 15px;}
.p20{padding: 20px;}
.p30{padding: 30px;}

.pt00 {
	padding-top: 0px !important;
}
.pt05 {
	padding-top: 5px !important;
}
.pt10 {
	padding-top: 10px !important;
}
.pt15 {
	padding-top: 15px !important;
}
.pt20 {
	padding-top: 20px !important;
}
.pt25 {
	padding-top: 25px !important;
}
.pt30 {
	padding-top: 30px !important;
}
.pt35 {
	padding-top: 35px !important;
}
.pt40 {
	padding-top: 40px !important;
}
.pt45 {
	padding-top: 45px !important;
}
.pt50 {
	padding-top: 50px !important;
}
/* padding:right */
.pr00 {
	padding-right: 0px !important;
}
.pr05 {
	padding-right: 5px !important;
}
.pr10 {
	padding-right: 10px !important;
}
.pr15 {
	padding-right: 15px !important;
}
.pr20 {
	padding-right: 20px !important;
}
.pr25 {
	padding-right: 25px !important;
}
.pr30 {
	padding-right: 30px !important;
}
.pr35 {
	padding-right: 35px !important;
}
.pr40 {
	padding-right: 40px !important;
}
.pr45 {
	padding-right: 45px !important;
}
.pr50 {
	padding-right: 50px !important;
}
/* padding:bottom */
.pb00 {
	padding-bottom: 0 !important;
}
.pb05 {
	padding-bottom: 5px !important;
}
.pb10 {
	padding-bottom: 10px !important;
}
.pb15 {
	padding-bottom: 15px !important;
}
.pb20 {
	padding-bottom: 20px !important;
}
.pb25 {
	padding-bottom: 25px !important;
}
.pb30 {
	padding-bottom: 30px !important;
}
.pb35 {
	padding-bottom: 35px !important;
}
.pb40 {
	padding-bottom: 40px !important;
}
.pb45 {
	padding-bottom: 45px !important;
}
.pb50 {
	padding-bottom: 50px !important;
}
/* padding:left */
.pl00 {
	padding-left: 0px !important;
}
.pl05 {
	padding-left: 5px !important;
}
.pl10 {
	padding-left: 10px !important;
}
.pl15 {
	padding-left: 15px !important;
}
.pl20 {
	padding-left: 20px !important;
}
.pl25 {
	padding-left: 25px !important;
}
.pl30 {
	padding-left: 30px !important;
}
.pl35 {
	padding-left: 35px !important;
}
.pl40 {
	padding-left: 40px !important;
}
.pl45 {
	padding-left: 45px !important;
}
.pl50 {
	padding-left: 50px !important;
}
/* indent */
.indent05 {
	padding: 5px !important;
}
.indent10 {
	padding: 10px !important;
}
.indent15 {
	padding: 15px !important;
}
.indent20 {
	padding: 20px !important;
}
.indent25 {
	padding: 25px !important;
}
.indent30 {
	padding: 30px !important;
}
.indent35 {
	padding: 35px !important;
}
.indent40 {
	padding: 40px !important;
}
.indent45 {
	padding: 45px !important;
}
.indent50 {
	padding: 50px !important;
}
/* indent_lr */
.indent05_lr {
	padding: 0 5px !important;
}
.indent10_lr {
	padding: 0 10px !important;
}
.indent15_lr {
	padding: 0 15px !important;
}
.indent20_lr {
	padding: 0 20px !important;
}
.indent25_lr {
	padding: 0 25px !important;
}
.indent30_lr {
	padding: 0 30px !important;
}
.indent35_lr {
	padding: 0 35px !important;
}
.indent40_lr {
	padding: 0 40px !important;
}
.indent45_lr {
	padding: 0 45px !important;
}
.indent50_lr {
	padding: 0 50px !important;
}
/* indent_tb */
.indent05_tb {
	padding: 5px 0 !important;
}
.indent10_tb {
	padding: 10px 0 !important;
}
.indent15_tb {
	padding: 15px 0 !important;
}
.indent20_tb {
	padding: 20px 0 !important;
}
.indent25_tb {
	padding: 25px 0 !important;
}
.indent30_tb {
	padding: 30px 0 !important;
}

@media screen and (max-width : 760px ) {
.indent30_tb {
	padding: 20px 0 !important;
}
}
.indent35_tb {
	padding: 35px 0 !important;
}
.indent40_tb {
	padding: 40px 0 !important;
}
.indent45_tb {
	padding: 45px 0 !important;
}
.indent50_tb {
	padding: 50px 0 !important;
}

.w_60{
	width: 60%;
	margin: 0 auto;
}
.w_50{
	width: 50%;
	margin: 0 auto;
}
.w_40{
	width: 40%;
	margin: 0 auto;
}
@media screen and (max-width : 760px ) {
.w_60{
	width: 100%;
	margin: 0 auto;
}
.w_50{
	width: 100%;
	margin: 0 auto;
}
.w_40{
	width: 100%;
	margin: 0 auto;
}
}





/* font size weight */
.f_200 {
	font-weight: 200;
}
.f_300 {
	font-weight: 300;
}
.f_400 {
	font-weight: 400;
}
.f_500 {
	font-weight: 500;
}
.f_600 {
	font-weight: 600;
}
.f_700 {
	font-weight: 700;
}
.f_800 {
	font-weight: 800;
}
.f_900 {
	font-weight: 900;
}

.f_bold {
	font-weight: bold !important;
}
.f_normal {
	font-weight: normal !important;
}


.f_08 {
	font-size: 0.8rem !important;
}
.f_10 {
	font-size: 1.0rem !important;
}
.f_12 {
	font-size: 1.2rem !important;
}
@media screen and (max-width : 760px ) {
.f_12 {
	font-size: 1.0rem !important;
}
}
.f_14 {
	font-size: 1.4rem !important;
}
.f_16 {
	font-size: 1.6rem !important;
}
.f_18 {
	font-size: 1.8rem !important;
}

@media screen and (max-width : 760px ) {
.f_18 {
	font-size:1.6rem !important;
}
}
.f_20 {
	font-size: 2.0rem !important;
}

@media screen and (max-width : 760px ) {
.f_20 {
	font-size: 1.8rem !important;
}
}
.f_22 {
	font-size: 2.2rem !important;
}
.f_23 {
	font-size: 2.3rem !important;
}
.f_24 {
	font-size: 2.4rem !important;
}
@media screen and (max-width : 760px ) {
.f_24 {
	font-size: 1.8rem !important;
}
}
.f_25 {
	font-size: 2.5rem !important;
}
.f_26 {
	font-size: 2.6rem !important;
}
.f_27 {
	font-size: 2.7rem !important;
}
.f_28 {
	font-size: 2.8rem !important;
}
.f_29 {
	font-size: 2.9rem !important;
}
.f_30 {
	font-size: 3.0rem !important;
}
.f_32 {
	font-size: 3.2rem !important;
}
@media screen and (max-width : 760px ) {
.f_32 {
	font-size: 2.4rem !important;
}
}
.f_34 {
	font-size: 3.4rem !important;
}
.f_36 {
	font-size: 3.6rem !important;
}

@media screen and (max-width : 760px ) {
.f_36 {
	font-size: 3.0rem !important;
}
}
.f_42 {
font-size:4.2rem;
}
@media screen and (max-width : 760px ) {
.f_42 {
font-size:3rem;
}
}
.f_48 {
font-size:4.8rem;
}
@media screen and (max-width : 760px ) {
.f_48 {
font-size:3.8rem;
}
}
.f_60 {
font-size:6rem;
}
@media screen and (max-width : 760px ) {
.f_60 {
font-size:3.2rem;
}
}

/* align */
.t_left {
	text-align: left !important;
}
.t_center {
	text-align: center !important;
}
.t_right {
	text-align: right !important;
}
.v_top {
	vertical-align: top !important;
}
.v_mdl {
	vertical-align: middle !important;
}
.v_btm {
	vertical-align: text-bottom !important;
}
/* img-Max */
img {
	max-width: 100%;
	height: auto;
}

/* 角丸 */
.bdrs05{border-radius: 5px;}
.bdrs10{border-radius: 10px;}
.bdrs15{border-radius: 15px;}
.bdrs20{border-radius: 20px;}
.bdrs25{border-radius: 25px;}
.bdrs30{border-radius: 30px;}
.bdrs35{border-radius: 35px;}
.bdrs40{border-radius: 40px;}
.bdrs45{border-radius: 45px;}
.bdrs50{border-radius: 50px;}

.bdrs50p{border-radius: 50%;}


/* JavaScript
-------------------------------------------------------------------*/
/* noSetting */

/* rollover */
.btn {
}
/* tab */
.tabNav {
}
/* fixpng */
.fixpng {
}
/* clearfix
-------------------------------------------------------------------*/
dl:after, ul:after, .fix:after {
	content: ".";
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
.content-fix:after{
	content: ".";
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
	border: 0;
}
dl, ul, .fix, .content-fix {
	display: inline-block;
	min-height: 1%;
}
/* start hide from IE-mac\ */
*html dl, *html ul, *html .fix , *html .content-fix{
	height: 1%;
}
dl, ul, .fix, .content-fix {
	display: block;
}

.quicklinks dl,.quicklinks ul{display: inline-block;}
