@charset "utf-8";
/*----------------title-------------------*/
.bg_ttl {
  background-size: cover !important;
  padding: 100px 0;
}
@media screen and (max-width: 767px) {
  .bg_ttl {
    padding: 30px 15px;
  }
}
.bg_ttl_concept {
  background: url("../../../../index.html") center top no-repeat;
}
.bg_ttl_about {
  background: url("../../../../index.html") center top no-repeat;
}
.bg_ttl_service, .bg_ttl_ehondanshi, .bg_ttl_mirakuu, .bg_ttl_consulting {
  background: url("../img/service/bg_ttl.jpg") center top no-repeat;
}
.bg_ttl_privacy {
  background: url("../../../../index.html") center top no-repeat;
}
.bg_ttl_sponsor {
  background: url("../img/sponsor/bg_ttl.jpg") center top no-repeat;
}
.bg_ttl_column {
  background: url("../../../../index.html") center top no-repeat;
}
.bg_ttl_case {
  background: url("../../../../index.html") center top no-repeat;
}
.bg_ttl_voice {
  background: url("../../../../index.html") center top no-repeat;
}
.bg_ttl_recruit {
  background: url("../../../../index.html") center top no-repeat;
}
.bg_ttl_company {
  background: url("../../../../index.html") left top no-repeat;
}
.bg_ttl_contact,.bg_ttl_register,.bg_ttl_thanks,.bg_ttl_confirmation {
  background: url("../../../../index.html") center top no-repeat;
}
.bg_ttl .en {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .bg_ttl .en {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
}
.bg_ttl .en_02 {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 4px;
}
@media screen and (max-width: 767px) {
  .bg_ttl .en_02 {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
}
.bg_ttl .ja {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 3px;
}
@media screen and (max-width: 767px) {
  .bg_ttl .ja {
    font-size: 2.6rem;
  letter-spacing: 1px;
  }
}
/*-------------------------service-------------------*/
.bg_green {
  background: #f6faeb;
  position: relative;
}
.ttl_000 {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 4.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #97bf1e;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .ttl_000 {
    top: -25px;
    font-size: 3rem;
  }
  #service06 .ttl_000 {
    font-size: 2.2rem;
    line-height: 1.2;
  }
  #consulting .ttl_000 {
    font-size: 2.2rem;
    line-height: 1.2;
  }
}
.box_green01 {
  background: #97bf1e;
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .box_green01 {
    padding: 10px;
  }
}
@media screen and (max-width: 767px) {
  .btn_area.col_3 > li {
    float: left;
    width: 49%;
    margin-right: 2%;
  }
  .btn_area.col_3 > li:nth-child(2n) {
    margin-right: 0;
  }
  .btn_area.col_3 > li:last-child {
    margin: 0 auto;
  }
}
/*--------------------------ehondansh--------------------------*/
.txt_under {
  border-bottom: #97bf1e 1px solid;
  display: inline-block;
}
.box_white {
  background: #fff;
  padding: 30px 60px;
}
@media screen and (max-width: 767px) {
  .box_white {
    padding: 20px;
  }
}
.box_white ul > li {
  margin-bottom: 5px;
}
.box_white ul > li:nth-child(3), .box_white ul > li:nth-child(4) {
  margin-bottom: 0;
}
.border_bt {
  border-bottom: #ccc 1px solid;
  padding-bottom: 60px;
  margin-bottom: 60px;
}
.txt_green_box {
  background: #97bf1e;
  line-height: 1;
  color: #fff;
  text-align: center;
  padding: 5px 15px;
}
@media screen and (max-width: 767px) {
  .txt_green_box {
    font-size: 1.2rem;
    padding: 3px;
  }
}
.txt_green_bd {
  position: relative;
  padding-left: 75px;
  color: #97bf1e;
  font-weight: bold;
}
.txt_green_bd::before {
  content: "";
  position: absolute;
  background: #97bf1e;
  width: 60px;
  height: 1px;
  top: 49%;
  left: 0;
}
.txt_indent > li {
  text-indent: -1em;
  padding-left: 1em;
}
.ttl_dot_center {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 2.6rem;
  color: #97bf1e;
  position: relative;
  padding: 0 50px;
}
@media screen and (max-width: 767px) {
  .ttl_dot_center {
    font-size: 2rem;
    padding: 0 30px;
    letter-spacing: 0;
  }
}
.ttl_dot_center::before {
  content: "";
  background: url("../img/common/dot_line.png") left top repeat-x;
  width: 40px;
  height: 5px;
  position: absolute;
  top: 48%;
  left: 0;
}
@media screen and (max-width: 767px) {
  .ttl_dot_center::before {
    width: 20px;
  }
}
.ttl_dot_center::after {
  content: "";
  background: url("../img/common/dot_line.png") left top repeat-x;
  width: 40px;
  height: 5px;
  position: absolute;
  top: 48%;
  right: 0;
}
@media screen and (max-width: 767px) {
  .ttl_dot_center::after {
    width: 20px;
  }
}
.table_price {
  width: 100%;
  border-bottom: #dddddd 1px solid;
  border-right: #dddddd 1px solid;
}
.table_price th {
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
  background: #97bf1e;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  border-top: #dddddd 1px solid;
  border-left: #dddddd 1px solid;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .table_price th {
    padding: 5px;
    font-size: 1.2rem;
  }
}
.table_price td {
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  text-align: center;
  font-size: 1.6rem;
  border-top: #dddddd 1px solid;
  border-left: #dddddd 1px solid;
}
@media screen and (max-width: 767px) {
  .table_price td {
    padding: 5px;
    font-size: 1.2rem;
  }
}
.table_price td.green {
  background: #97bf1e;
  color: #fff;
}
.box_001 dt {
  background: #97bf1e;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  line-height: 1;
  float: left;
  width: 35%;
  font-size: 2rem;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .box_001 dt {
    padding: 10px;
    float: none;
    width: 100%;
    font-size: 1.6rem;
  }
}
.box_001 dd {
  float: right;
  width: 62%;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .box_001 dd {
    float: none;
    width: 100%;
  }
}
.icon_ehon {
  background: url("../img/ehondanshi/icon.png") left center no-repeat;
  padding: 10px 0 10px 90px;
}
/*--------mirakuu-------------------*/ 


.wihite_area {
  background: #fff;
  padding: 100px 60px 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .wihite_area {
    padding: 65px 15px 15px;
    margin-top: 70px;
  }
}
.arrow_box {
  position: absolute;
  top: -50px;
  width: 85%;
  height: auto;
  background: #97BF1E;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .arrow_box {
    top: -40px;
    width: 95%;
    padding: 10px;
    font-size: 1.4rem !important;
  }
}
.arrow_box:after {
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  pointer-events: none;
  position: absolute;
  border-color: rgba(151, 191, 30, 0);
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  margin-left: -10px;
  border-top-color: #97BF1E;
  top: 100%;
  left: 50%;
}
.table_000 {
  width: 100%;
  border-bottom: #dddddd 1px solid;
  border-right: #dddddd 1px solid;
}
.table_000 tr:first-child th:first-child {
  background: #d6fb73;
}
.table_000 tr:first-child th:last-child {
  background: #c5fafd;
}
.table_000 th {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.6rem;
  border-top: #dddddd 1px solid;
  border-left: #dddddd 1px solid;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .table_000 th {
    padding: 10px;
    font-size: 1.4rem;
  }
}
.table_000 td {
  padding: 20px;
  text-align: center;
  font-size: 1.6rem;
  background: #fff;
  border-top: #dddddd 1px solid;
  border-left: #dddddd 1px solid;
}
@media screen and (max-width: 767px) {
  .table_000 td {
    padding: 10px;
    font-size: 1.4rem;
  }
}
.dl_000 dt {
  float: left;
  width: 20%;font-weight: bold;color: #ff6d25;
}
.dl_000 dd {
  float: right;
  width: 78%;
}
.f_orange {
  color: #ff6d25 !important;
}
.list_000 > li {
  display: inline-block;
  margin-right: 20px;
  padding: 5px 0 5px 60px;
  font-size: 1.6rem;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .list_000 > li {
    display: block;
    float: left;
    width: 50%;
    box-sizing: border-box;
    background-size: 30px !important;
    margin-right: 0;
    padding: 5px 0 5px 40px;
    font-size: 1.2rem;
  }
}
.list_000 > li:first-child {
  background: url("../img/mirakuu/ico_01.jpg") left center no-repeat;
  color: #00bbdc;
}
.list_000 > li:first-child {
  background: url("../img/mirakuu/ico_01.jpg") left center no-repeat;
  color: #00bbdc;
}
.list_000 > li:nth-child(2) {
  background: url("../img/mirakuu/ico_02.jpg") left center no-repeat;
  color: #f1a789;
}
.list_000 > li:nth-child(3) {
  background: url("../img/mirakuu/ico_03.jpg") left center no-repeat;
  color: #f9d066;
}
.list_000 > li:nth-child(4) {
  background: url("../img/mirakuu/ico_04.jpg") left center no-repeat;
  color: #aed724;
}
.list_000 > li:nth-child(5) {
  background: url("../img/mirakuu/ico_05.jpg") left center no-repeat;
  color: #e7a5c0;
}
.list_000 > li:last-child {
  margin-right: 0;
  background: url("../img/mirakuu/ico_06.jpg") left center no-repeat;
  color: #b683d7;
}
.table_001 {
  width: 100%;
  border-bottom: #ddd 1px solid;
  border-right: #ddd 1px solid;
}
.table_001 th {
  width: 25%;
  border-left: #ddd 1px solid;
  border-top: #ddd 1px solid;
  background: #c5fafd;
  font-weight: bold;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.table_001 th:last-child {
  width: 50%;
}
.table_001 td {
  border-left: #ddd 1px solid;
  border-top: #ddd 1px solid;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.table_002 {
  width: 100%;
  border-bottom: #ddd 1px solid;
  border-right: #ddd 1px solid;
}
.table_002 th {
  width: 25%;
  border-left: #ddd 1px solid;
  border-top: #ddd 1px solid;
  background: #d6fb73;
  font-weight: bold;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.table_002 th:last-child {
  width: 50%;
}
.table_002 td {
  border-left: #ddd 1px solid;
  border-top: #ddd 1px solid;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.table_003 {
  width: 100%;
  border-bottom: #ddd 1px solid;
  border-right: #ddd 1px solid;
}
.table_003 th {
  width: 25%;
  border-left: #ddd 1px solid;
  border-top: #ddd 1px solid;
  background: #fff448;
  font-weight: bold;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.table_003 th:last-child {
  width: 50%;
}
.table_003 td {
  border-left: #ddd 1px solid;
  border-top: #ddd 1px solid;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.voice_li > li {
  border-bottom: #ddd 1px dotted;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.voice_li > li:last-child {
  margin-bottom: 0;
}
.t_under{
	text-decoration: underline;
}
.bg_shima{
	background: url("../../../../index.html") left top repeat;
	padding: 30px;
	color: #fff;
}
@media screen and (max-width: 767px) {
.bg_shima{
	padding: 15px;
}
	.bg_shima p{
		font-size: 2rem !important;
}
}
.arrow_box_ora{
    position:relative;
    width:100%;
    height:auto;
    background:#FF6D25;
    padding:20px;
    color:#FFFFFF;
    font-size:1.6rem;
    font-weight:bold;
	margin-top: 150px;
}
@media screen and (max-width: 767px) {
.arrow_box_ora{
    padding:20px;
    font-size:1.4rem;
	margin-top: 20px;
}
}
.arrow_box_ora:after{
   border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    border-color: rgba(255, 109, 37, 0);
    border-top-width:10px;
    border-bottom-width:10px;
    border-left-width:31px;
    border-right-width:31px;
    margin-top: -10px;
    border-right-color:#FF6D25;
    right:100%;
    top:50%;
}
@media screen and (max-width: 767px) {
.arrow_box_ora:after{
   border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    border-color: rgba(255, 109, 37, 0);
    border-top-width:10px;
    border-bottom-width:10px;
    border-left-width:9px;
    border-right-width:9px;
    margin-left: -9px;
    border-bottom-color:#FF6D25;
    bottom:100%;
    left:50%;
	right: auto;
    top:auto;}}



.btn_youtube a {
  display: block;
  width: 400px;
  max-width: 100%;
  background: #E60012;
  border: #E60012 1px solid;
  padding: 15px;
	border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  color: #fff;
  font-size: 1.6rem;
	letter-spacing: 2px;
}
@media screen and (max-width : 767px) {
  .btn_youtube a {
    width: 100%;
    font-size: 1.5rem;
  }
}
.btn_youtube a i{
	font-size: 2rem;
}


.btn_youtube a:hover {
  background: #fff;
  opacity: 1;
  color: #E60012;
}

.w_100{
	width: 100% !important;
	margin: 0 auto;
}
#acMenu{
border:#97bf1e 1px solid;
	padding: 10px;
	
}
#acMenu dt{
display:block;
/*text-align:center;
border:#97bf1e 1px solid;*/
cursor:pointer;
	padding: 10px;
	font-size: 1.6rem;
	font-weight: bold;
	border-bottom: none;
}

#acMenu dd{
	padding: 10px;
/*text-align:center;*/
display:none;
	/*border-top:#97bf1e 1px solid;*/
}
#acMenu dd p{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: #ddd 1px dotted;
}

